@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

.wrapper {
    max-width: 1500px;
    margin-inline: auto;
}

.home {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    position: relative;
    flex-wrap: wrap;
}

/* Yellow Shape for Minion Sections */

.minion_bob, .minion_stuart {
    position: relative;
    padding: 40px 20px;
    display: flex;
    align-items: center;
}

.minion_bob {
    background-color: #fff600;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.minion_stuart {
    background-color: #fff600;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
}

/* Yellow Shape Effect */
.minion_bob::before, .minion_stuart::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff600;
    z-index: -1;
}

.minion_bob::before {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.minion_stuart::before {
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
}

.home .logo img {
    max-width: 20%;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 150px;
}

.home .sub_text .text {
    font-size: 15px;
    font-weight: 700;
    margin-top: -275px;
    margin-bottom: 450px;
    flex-wrap: wrap;
}

.home .graphics img {
    max-width: 100%;
    margin-top: -300px;
    margin-bottom: 150px;
    flex-wrap: wrap;
}

/* Section: CONTAINER */

  /* BASE */
  
  .card_article img {
    display: block;
    max-width: 100%;
    height: 400px;
  }
  
  /* CARD */
  .container {
    display: grid;
    place-items: center;
    padding-block: 5rem;
  }

  .header .txt {
    font-size: 60px;
    margin-top: -100px;
  }
  
  .card_container {
    display: grid;
    row-gap: 5rem;
    margin-top: -250px;
  }
  
  .card_article {
    position: relative;
    overflow: hidden;
  }

 .min_bob, .min_kev, .min_stua {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) scale(0.7);
    z-index: 1;
  }
  
  .card_img {
    position: relative; 
    width: 328px;
    border-radius: 1.5rem;
    overflow: hidden;
  }
  
  .card__data {
    width: 280px;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  
  .card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
  }
  
  .card__title {
    font-size: 30px;
    font-weight: 800;
    color: var(--title-color);
    margin-bottom: .75rem;
  }
  
  .card__button {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
  }
  
  .card__button:hover {
    text-decoration: underline;
  }
  
  /* Naming animations in hover */
  .card_article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .card_article:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card_article:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .card_article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
  }
  
  /* Card animation */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }

/* Section: Minion Bob */
.minion_bob {
    display: flex;
    background-color: #fff600;
    padding: 40px 20px;
    align-items: center;
}

.minion_bob .bob_pic img {
    max-width: 70%;
    flex-wrap: wrap;
    position: relative;
    left: 50px;
    margin-top: -250px;
}

.minion_bob .meet_bob {
    max-width: 650px;
    margin: 0 40px 60px 0;
    flex-wrap: wrap;
    padding: 20px;
}

.minion_bob .meet_bob h3 {
    font-size: clamp(10px, 3vw, 50px);
    font-weight: bold;
    color: orange;
    margin-bottom: 40px;
}

.minion_bob .meet_bob h1 {
    font-size: clamp(30px, 10vw, 150px);
    font-weight: 800;
    color: #ffffff;
    margin-top: -60px;
}

.minion_bob .meet_bob .des_1 {
    font-size: clamp(10px, 2vw, 18px);
    color: #333;
    line-height: 1.6;
}

/* Section: Minion Kevin */
.minon_kevin {
    display: flex;
    background-color: #fff;
    padding: 40px 20px;
    align-items: center;
    justify-content: flex-end;
}

.minon_kevin .meet_kevin {
    max-width: 650px;
    margin: 0 60px;
    flex-wrap: wrap;
    padding: 20px;
}

.minon_kevin .meet_kevin h3 {
    font-size: clamp(10px, 3vw, 50px);
    font-weight: bold;
    color: orange;
    margin-bottom: 10px;
}

.minon_kevin .meet_kevin h1 {
    font-size: clamp(30px, 10vw, 130px);
    font-weight: 800;
    color: #333;
    margin-top: -20px;
}

.minon_kevin .meet_kevin .des_2 {
    font-size: clamp(10px, 2vw, 18px);
    color: #333;
    line-height: 1.6;
}

.minon_kevin .kevin_pic img {
    max-width: 90%;
    flex-wrap: wrap;
}

/* Section: Minion Stuart */
.minion_stuart {
    display: flex;
    background-color: #fff600;
    padding: 40px 20px;
    align-items: center;
}

.minion_stuart .stuart_pic img {
    max-width: 90%;
    margin-right: 40px;
    flex-wrap: wrap;
    position: relative;
    left: 100px;
}

.minion_stuart .meet_stuart {
    max-width: 650px;
    margin: 0 90px;
    flex-wrap: wrap;
    padding: 20px;
}

.minion_stuart .meet_stuart h3 {
    font-size: clamp(10px, 3vw, 50px);
    font-weight: bold;
    color: orange;
    margin-bottom: 10px;
}

.minion_stuart .meet_stuart h1 {
    font-size: clamp(30px, 10vw, 130px);
    font-weight: 800;
    color: #ffffff;
    margin-top: -20px;
}

.minion_stuart .meet_stuart .des_3 {
    font-size: clamp(10px, 2vw, 18px);
    color: #333;
    line-height: 1.6;
}

/* Section: End */
.end {
    text-align: center;
    padding: 50px;
    background-color: #fff;
}

.end .bye img {
    max-width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    gap: 30px;
}

footer img {
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
}

.foot {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    padding-bottom: 5px;
    margin-top: -10px;
}

/* For small devices */
@media screen and (max-width: 340px) {
    .container {
      height: 1000px;
      margin-inline: 1rem;
    }
    
    .card__data {
      width: 250px;
      padding: 1rem;
    }
  }
    
  /* For medium devices */
  @media screen and (min-width: 768px) {
    .card_container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
    .container {
        height: 1000px;
        margin-inline: 1rem;
      }
  }
    
  /* For large devices */
  @media screen and (min-width: 1120px) {
    .container {
      height: 1000px;
    }
    
    .card_container {
      grid-template-columns: repeat(3, 1fr);
    }
    .card_img {
      width: 348px;
    }
    .card__data {
      width: 316px;
      padding-inline: 2.5rem;
    }
  }