@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
}

.wrapper {
    max-width: 1500px;
    margin-inline: auto;
}

.home {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    position: relative;
    flex-wrap: wrap;
}

.home .logo img {
    max-width: 100%;
    flex-wrap: wrap;
    position: relative;
    bottom: 200px;
}

.home .sub_text .text {
    position: relative;
    font-size: 26px;
    font-weight: 700;
    bottom: 500px;
    flex-wrap: wrap;
}

.home .graphics img {
    max-width: 100%;
    margin-top: -300px;
    margin-bottom: 78px;
    flex-wrap: wrap;
}

/* Section: Description */
.content {  
    height: 1000px;
    padding: 40px 20px;
    position: relative;
    text-align: center;
    background-color: #fff;
    border: solid;
    flex-wrap: wrap;
}

.content .description .des {
    font-size: clamp(10px, 3vw, 20px);
    line-height: 1.6;
    flex-wrap: wrap;
}

/* Section: Minion Bob */
.minion_bob {
    display: flex;
    background-color: #fff600;
    padding: 40px 20px;
    align-items: center;
}

.minion_bob .bob_pic img {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: -300px;
}

.minion_bob .meet_bob {
    max-width: 650px;
    border: solid;
    margin-right: 20px;
    flex-wrap: wrap;
}

.minion_bob .meet_bob h3 {
    font-size: 35px;
    font-weight: bold;
    color: orange;
}

.minion_bob .meet_bob h1 {
    font-size: 70px;
    font-weight: 800;
    color: #333;
    position: relative;
    bottom: 30px;
}

.minion_bob .meet_bob .des_1 {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

/* Section: Minion Kevin */
.minon_kevin {
    display: flex;
    background-color: #fff;
    padding: 40px 20px;
    align-items: center;
    justify-content: flex-end;
}

.minon_kevin .meet_kevin {
    max-width: 500px;
    position: relative;
    left: 40px;
    margin-right: 40px;
}

.minon_kevin .meet_kevin h3 {
    font-size: 22px;
    font-weight: bold;
    color: orange;
    margin-bottom: 10px;
}

.minon_kevin .meet_kevin h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
}

.minon_kevin .meet_kevin .des_2 {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

.minon_kevin .kevin_pic img {
    max-width: 100%;
}

/* Section: Minion Stuart */
.minion_stuart {
    display: flex;
    background-color: #fff600;
    padding: 40px 20px;
    align-items: center;
}

.minion_stuart .stuart_pic img {
    max-width: 100%;
    margin-right: 40px;
}

.minion_stuart .meet_stuart {
    max-width: 500px;
    margin-left: 40px;
    position: relative;
    right: 40px;
}

.minion_stuart .meet_stuart h3 {
    font-size: 22px;
    font-weight: bold;
    color: orange;
    margin-bottom: 10px;
}

.minion_stuart .meet_stuart h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
}

.minion_stuart .meet_stuart .des_3 {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
}

/* Section: End */
.end {
    text-align: center;
    padding: 50px;
    background-color: #fff;
}

.end .bye img {
    max-width: 100%;
}